{{extend 'layout.html'}}

<center><div class="jumbotron">
<h1 style="color:#00008B">
    <strong>JBTUS - DISCLAIMER</strong>
</h1><br><small><p>
    - Here at JBTUS, the odds are with you. If you agree, <i><a href="https://www.facebook.com/shaversApps/"> like us <i class="glyphicon glyphicon-thumbs-up"></i></a></i>.
    </p></small><small>
<div align="center"><h4>
<a href="{{=URL('default', 'my_messages')}}" class="btn btn-info"><i class="glyphicon glyphicon-envelope"></i><em> Inbox</em></a></h4></div>
</small>
</div></center><br>

    <br><center>
<p>
    By signing up for this website, you consent that you are age 18 or over.
</p>
<p>
    I reserve the right to change any of these Terms and Conditions at any given time on this website.
</p>
<p>
    Under no circumstances will I be liable for any personal problems resulting from a connection to this website.
</p><p>
I reserve the right to change the focus of this website, shut it down, sell it, or change the terms of use at my own discretion.
</p><p>
I reserve the right to delete users and ban users as i see fit.
</p><p>
I am not responsible for the information shared between users of this website.
</p>
    <p>
        Solicitation of any form is not allowed!
    </p>
<p>
The sharing of your information on jbtus.com is of your own free will. By using this website, you are acquiescing to the tems and conditions.
</p></center>
